body {
  font-family: 'Raleway', sans-serif;
}

.header {
  background: url(/img/header-bg.png) no-repeat 50%;
  background-size: cover;
  overflow: hidden;
  position: relative;
}

.header::after {
  content: "";
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  background-image: linear-gradient(-53deg, #00b8d4 0%, #1de9b6 100%);
  opacity: 0.9;
  z-index: 5;
}

.header-box {
  padding-top: 50px;
  display: flex;
  justify-content: space-between;
  position: relative;
  z-index: 10;
}
.nav-menu {
  display: flex;
  list-style: none;
}

.nav-item {
  padding-right: 45px;
}

.nav-link {
  text-decoration: none;
  color: #ffffff;
  font-family: 'Raleway', sans-serif;
  font-size: 15px;
  font-weight: 600;
  line-height: 25px;
}

.nav-link:hover {
  color: #061e37;
}

.header-btn {
  border-radius: 2px;
  border: 1px solid #ffffff;
  width: 80px;
  height: 25px;
  text-align: center;
}
.header-btn a{
  color: #ffffff;
  font-family: Raleway;
  font-size: 12px;
  font-weight: 400;
  line-height: 25px;
  background: transparent;
  border: none;
}

.header-content {
  display: flex;
  justify-content: space-between;
  position: relative;
  z-index: 10;
  padding-top: 170px;
}

.header-content-card h1 {
  margin-top: 0;
  color: #ffffff;
  font-family: 'Raleway', sans-serif;
  font-size: 55px;
  font-weight: 800;
  line-height: 65px;
  text-transform: uppercase;
}

.header-content-card p {
  margin: 30px 0px 40px;
  color: #ffffff;
  font-family: Raleway;
  font-size: 18px;
  font-weight: 400;
  line-height: 35px;
}

.header-content-button-buy {
  width: 150px;
  height: 55px;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  background-color: #061e37;
  border: none;
  color: #ffffff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 400;
  text-transform: uppercase;
  margin-right: 30px;
}
.header-content-button-free {
  width: 160px;
  height: 55px;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  background-color: #ffffff;
  border: none;
  color: #061e37;
  font-family: Raleway;
  font-size: 15px;
  font-weight: 700;
  text-transform: uppercase;
}

.header-content-card button {
  margin-bottom: 180px;
}

.header-content-video {
  width: 600px;
  height: 320px;
  background: url(/img/header-video-bg.png);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.header-content-video::before {
  content: "";
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  height: 320px;
  border-radius: 5px;
  border: 1px solid #061e37;
  background-color: #ffffff;
  opacity: 0.9;
}

.play-video {
  text-align: center;
  width: 60px;
  height: 60px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  background-color: #061e37;
  position: relative;
  border: none;
}

.material-icons {
  width: 10px;
  height: 12px;
  color: #ffffff;
  font-family: "Material Icons";
  font-size: 20px;
  font-weight: 400;
  transform: translate(-50%);
}

.video-txt {
  padding-top: 20px;
  width: 110px;
  height: 9px;
  color: #061e37;
  font-family: Raleway;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  position: relative;
}

.useful-title {
  margin: 0 auto;
  text-align: center;
  width: 50%;
  font-family: 'Raleway', sans-serif;
  padding: 90px 0;
}

.useful-title h3 {
  color: #061e37;
  font-size: 45px;
  font-weight: 400;
  margin: 0;
}

.useful-title-text {
  color: #b0bec5;
  font-family: 'Raleway', sans-serif;
  font-size: 25px;
  font-weight: 600;
}

.useful-title span {
  color: #b0bec5;
  font-family: 'Raleway', sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 25px;
}

.useful-cards {
  display: flex;
  justify-content: space-between;
  text-align: center;
  padding-bottom: 75px;
}

.useful-cards img1 {
  width: 58px;
  height: 80px;
  color: #80d8ff;
}
.useful-cards img2 {
  width: 58px;
  height: 80px;
  color: #80d8ff;
}
.useful-cards img3 {
  width: 68px;
  height: 71px;
  color: #ea80fc;
}

.useful-title-card h4 {
  color: #061e37;
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  font-weight: 600;
  line-height: 25px;
  padding: 40px 0 20px;
}

.useful-title-card p {
  color: #78909c;
  font-family: 'Raleway', sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  margin-top: -15px;
}

.useful {
  padding-bottom: 95px;
}

.useful-btn {
  display: block;
  margin: 0 auto;
  width: 150px;
  height: 55px;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  background-color: #1de9b6;
  border: none;
  color: #ffffff;
  font-family: 'Raleway', sans-serif;
  font-size: 15px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 95px;
}

.useful-statistic-container {
  display: flex;
  justify-content: space-between;
}

.useful-statistic-boxes {
  display: flex;
  height: 145px;
  justify-content: center;
  align-items: center;
}

.useful-icon-box {
  width: 60px;
  height: 60px;
  background-color: #ffffff;
  border-radius: 50%;
  position: relative;
  margin-right: 25px;
}

.useful-icon-box i {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-40%);
  width: 26px;
  height: 24px;
}
.useful-icon-1 {
  color: #80d8ff;
}

.useful-icon-2 {
  color: #82b1ff;
}

.useful-icon-3 {
  color: #b388ff;
}

.useful-icon-4 {
  color: #ea80fc;
}

.useful-statistic-box-1 {
  background-color: #80d8ff;
  position: relative;
}

.useful-statistic-box-2 {
  background-color: #82b1ff;
}

.useful-statistic-box-3 {
  background-color: #b388ff;
}

.useful-statistic-box-4 {
  background-color: #ea80fc;
  position: relative;
}

.useful-statistic-text p {
  margin: 0;
  color: #ffffff;
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  font-weight: 800;
  line-height: 25px;
}

.services-title h4{
  color: #061e37;
  font-family: 'Raleway', sans-serif;
  font-size: 45px;
  font-weight: 600;
}

.services-title p {
  color: #b0bec5;
  font-family: 'Raleway', sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 25px;
}


